.fundo {
    background-color: #222;
    color: white;
}

.card-job {
    background-color: #444;
    box-shadow: 0 0px 20px 0 rgba(255, 207, 0, 0.3);
    padding: 0;
    margin-top: 50px;
}

.header-job {
    background-color: #333;
    width: 100% !important;
    padding: 5px;
    padding-left: 15px;
}

.row-card {
    margin-top: 40px;
}

.titulo-job {
    color: #FFCF00;
    font-weight: bold;
    margin-top: 10px;
}

.body-job {
    padding: 5px;
    padding-left: 15px;
}

.titulo-body {
    color: #E747DC;
    margin-top: 10px;
}

.titulo {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 52px;
    display: inline;
    background-image: linear-gradient(90deg, rgba(255, 207, 0, 1) 0%, rgba(231, 71, 220, 1) 100%);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    padding-bottom: 10px;
}

.job-modal-titulo {
    background-image: linear-gradient(90deg, rgba(255, 207, 0, 1) 0%, rgba(231, 71, 220, 1) 100%);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    font-size: 30px;
    font-weight: bold;
}