{% extends 'base.html' %}
{% load static %}

{% block 'head' %}
<link rel="stylesheet" href="{% static 'jobs/css/encontrar_jobs.css' %}">
{% endblock %}

{% block 'body' %}

<div class="container">

    <br/>
    <br/>

    <form action="/teste" method="POST">
        <div class="row">
            <div class="col-sm">
                <input type="text" class="form-control" placeholder="Preço mínimo" name="preco_minimo">
                <br/>
                <input type="text" class="form-control" placeholder="Preço máximo" name="preco_maximo">
            </div>
            <div class="col-sm">
                <input type="date" class="form-control" name="prazo_minimo">
                <br/>
                <input type="date" class="form-control" name="prazo_maximo">
            </div>
            <div class="col-sm">
                <select class="form-control" name="categoria">
                    <option value="D">Design</option>
                    <option value="EV">Edição de vídeo</option>
                </select>
                <br/>
                <input type="submit" class="btn btn-success btn-lg" value="FILTRAR">
            </div>
        </div>
    </form>

    <br/>
    <br/>

    <h2 class="titulo">JOB’S EM ABERTO:</h2>
    <div class="row justify-content-around">

        <div class="col-6 row-card">

            <div class="card-job">
                <div class="header-job">
                    <h4 class="titulo-job">Criação de thumb</h4>
                </div>
                <div class="body-job">
                    <p class="titulo-body">Descrição:</p>
                    <div style="width: 70%">
                        <p>
                            What is Lorem Ipsum? Lorem Ipsum is simply dummy text of the
                            printing and type setting industry. Lorem Ipsum has been.
                        </p>
                    </div>
                    <div class="row">
                        <div class="col-4">
                            <p class="titulo-body">Preço:</p>
                            <p>R$ 25,00</p>
                        </div>
                        <div class="col-4">
                            <p class="titulo-body">Prazo:</p>
                            <p>22 de Abril</p>
                        </div>
                        <div class="col-4">
                            <p class="titulo-body">Categoria:</p>
                            <p>Design</p>
                        </div>
                    </div>
                    <button class="btn btn-success">Ver detalhes</button>
                    <br/>
                    <br/>
                </div>
            </div>

        </div>

    </div>

</div>

{% endblock %}